<%= render partial: 'shared/navbar' %>
<div class="container">
  <div class="card h-100 row align-items-center text-center mt-5 shadow-lg parent" style="width: 18rem;">
    <% if @current_user.profile_picture.attached? %>
      <%= image_tag(url_for(@current_user.profile_picture), class: 'card-img-top', style: 'width: 18rem;', onClick: 'toggle()') %>
    <% else %>
      <%= image_tag("https://api.adorable.io/avatars/285/#{@current_user.name}", class: 'card-img-top' , onClick: 'toggle()')%>
    <% end %>
    <%= image_tag "play.png", class: "image2", onClick: 'toggle()' %>
    <div class="card-body" style="width: 100%">
      <h5 class="card-title"><%= @current_user.name %></h5>
      <p class="card-text">
          Plays: <%= @current_user.instrument %>
          <% if current_user.favorite_genre.present? %>
              <br>
              Favorite Genre: <%= current_user.favorite_genre %>
              <% end %>
      </p>
    </div>
  </div>
</div>

<script>
  var sound = new Howl({
    src: "<%= url_for(@current_user.clip) %>",
  });

  var indicator = $(".image2");
  var image = indicator[0];

  var profile = $(".card-img-top");

  profile.hover(
    function() {
      if (sound.playing()) {
        indicator.fadeIn(200);
      }
    },
    function() {}
  );

  indicator.hover(
    function() {},
    function() {
      if (sound.playing()) {
        indicator.fadeOut(200);
      }
    }
  );

  function toggle() {
    if (sound.playing()) {
      sound.pause()
      indicator.fadeIn(200, () => image.src = "<%= image_path('play.png') %>");
    } else {
      sound.play()
      indicator.fadeOut(1000, () => image.src = "<%= image_path('pause.png') %>");
    }
  }
</script>
