<%= render partial: 'shared/navbar' %>
<div class="container">
  <script>
    var sound = new Howl({
      src: "<%= url_for(@current_user.clip) %>",
    });
    
    function toggle() {
      if (sound.playing()) {
        sound.pause()
      } else {
        sound.play()
      }
    }
  </script>

  <div class="card h-100 row align-items-center text-center mt-5 shadow-lg parent" style="width: 18rem;">
    <%= image_tag(url_for(@current_user.profile_picture), class: 'card-img-top', style: 'width: 18rem;', onClick: 'toggle()') %>
    <%= image_tag "play", class: "image2" %>
    <div class="card-body" style="width: 100%">
      <h5 class="card-title"><%= @current_user.name %></h5>
      <p class="card-text">
          Plays: <%= @current_user.instrument %>
      </p>
    </div>
  </div>
</div>
