<%= render partial: 'shared/navbar' %>
<div class="container">
  <% if @swipee %>
    <div class="card h-100 row align-items-center" style="width: 18rem;">
      <img class="card-img-top" src="https://picsum.photos/285/?random" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= @swipee.name %></h5>
        <p class="card-text">Plays: <%= @swipee.instrument %></p>
        <div class="d-inline-block">
          <%= link_to "Yes", "/swipes/#{@swipee.id}/true", method: :post, class: "btn btn-success btn-block" %>
        </div>
        <div class="d-inline-block">
        <%= link_to "No", "/swipes/#{@swipee.id}/true", method: :post, class: "btn btn-danger btn-block" %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="card h-100 row align-items-center" style="width: 18rem;">
      <img class="card-img-top" src="https://picsum.photos/285/?random" alt="Card image cap">
      <div class="card-body">
        All Out!
      </div>
    </div>
  <% end %>
</div>
