<%= render partial: 'shared/navbar' %>

<div class="container">

  <h1>Matches</h1>

  <table class="table">
    <% @matches.each do |match| %>
      <tr>
        <td class="align-middle"><%= image_tag(url_for(match.profile_picture), class: "rounded-circle", style: "height: 3rem") %></td>
        <td class="align-middle"><%= match.name %></td>
        <td class="align-middle"><%= match.instrument %></td>
        <td class="align-middle"><%= audio_tag("bensound-happyrock.mp3", controls: true) %></td>
      </tr>
    <% end %>
  </table>

</div>
