<%= render partial: 'shared/navbar' %>

<div class="container">
  <div class="row">
    <div class="col mt-3">
      <h1>Matches</h1>
    </div>
  </div>

  <div class="row">
    <% @matches.each do |match| %>

      <div class="col-md-4">
        <div class="card text-center mt-3 shadow-lg">
          <% if match.profile_picture.attached? %>
          <%= image_tag(url_for(match.profile_picture), class: 'card-img-top')%>
          <% else %>
          <%= image_tag('https://placekitten.com/400/400', class: 'card-img-top')%>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= match.name %></h5>
            <p class="card-text">
              Plays: <%= match.instrument %>
              <%= audio_tag(url_for(match.clip), controls: true, class: "w-100") %>
            </p>
          </div>
        </div>
      </div>

    <% end %>
  </div>

</div>
